In [21]:
import pandas as pd
import pyarrow as pa
import dataio as io

In [39]:
df = pd.read_json('./movies-3k.json')
df.columns = [i.replace(' ','_') for i in df.columns]

In [43]:
df.to_json("movies-3k.json", orient="records")

In [44]:
df.head()

,Title,US_Gross,Worldwide_Gross,US_DVD_Sales,Production_Budget,Release_Date,MPAA_Rating,Running_Time_min,Distributor,Source,Major_Genre,Creative_Type,Director,Rotten_Tomatoes_Rating,IMDB_Rating,IMDB_Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,Jun 12 1998,R,NaN,Gramercy,None,None,None,None,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,Aug 07 1998,R,NaN,Strand,None,Drama,None,None,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,Aug 28 1998,None,NaN,Lionsgate,None,Comedy,None,None,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,Sep 11 1998,None,NaN,Fine Line,None,Comedy,None,None,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,Oct 09 1998,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,None,62.0,3.4,165.0

In [32]:
# encode the data column correctly
df["Release_Date"] = pd.to_datetime(df["Release_Date"])

/var/folders/lr/70kn5pjn69bdqbrtq53m3nch0000gn/T/ipykernel_27565/2622122498.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Release_Date"] = pd.to_datetime(df["Release_Date"])

In [34]:
df["Release_Date"] = df["Release_Date"].dt.to_pydatetime()

In [35]:
df.head()

,US_Gross,Worldwide_Gross,US_DVD_Sales,Production_Budget,Release_Date,MPAA_Rating,Running_Time_min,Distributor,Source,Major_Genre,Creative_Type,Director,Rotten_Tomatoes_Rating,IMDB_Rating,IMDB_Votes
0,146083.0,146083.0,NaN,8000000.0,1970-01-01,R,NaN,Gramercy,None,None,None,None,NaN,6.1,1071.0
1,10876.0,10876.0,NaN,300000.0,1970-01-01,R,NaN,Strand,None,Drama,None,None,NaN,6.9,207.0
2,203134.0,203134.0,NaN,250000.0,1970-01-01,None,NaN,Lionsgate,None,Comedy,None,None,NaN,6.8,865.0
3,373615.0,373615.0,NaN,300000.0,1970-01-01,None,NaN,Fine Line,None,Comedy,None,None,13.0,NaN,NaN
4,1009819.0,1087521.0,NaN,1000000.0,1970-01-01,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,None,62.0,3.4,165.0

In [36]:
df.loc[9, "Release_Date"]

Timestamp('1970-01-01 00:00:00')

In [37]:
table = pa.Table.from_pandas(df)

In [38]:

io.table_to_arrow_file(table, "movies-3k.arrow")
io.table_to_parquet_file(table, "movies-3k.parquet")