In [1]:
import pandas as pd
import pyarrow as pa
import dataio as io

In [2]:
df = pd.read_json('./movies.json')
df = df[df.columns[1:]] # remove the first column title

In [3]:
df.head()

,US_Gross,Worldwide_Gross,US_DVD_Sales,Production_Budget,Release_Date,MPAA_Rating,Running_Time_min,Distributor,Source,Major_Genre,Creative_Type,Director,Rotten_Tomatoes_Rating,IMDB_Rating,IMDB_Votes
0,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,None,None,None,None,NaN,6.1,1071.0
1,10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,None,Drama,None,None,NaN,6.9,207.0
2,203134.0,203134.0,NaN,250000.0,28-Aug-98,None,NaN,Lionsgate,None,Comedy,None,None,NaN,6.8,865.0
3,373615.0,373615.0,NaN,300000.0,11-Sep-98,None,NaN,Fine Line,None,Comedy,None,None,13.0,NaN,NaN
4,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,None,62.0,3.4,165.0

In [4]:
table = pa.Table.from_pandas(df)
io.table_to_arrow_file(table, "movies-3k.arrow")
io.table_to_parquet_file(table, "movies-3k.parquet")